:root{
  --mainBlue:red;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:maroon;
  --mainYellow:#ffa400;
  --style:#00ff00;
}

body{
  font-family: "Oswald" , sans-serif !important;
  background: var(--mainWhite) !important;
  color:var(--mainDark) !important;
}

.text-title{
  font-family: cursive;
  letter-spacing:0.3rem;
  text-transform:uppercase;
}

.text-blue{
  color:var(--mainBlue);
}

.text-bright{
  color:var(--Lightblue);
}

.btn-black{
  background:var(--mainDark)!important;
  text-transform: capitalize;
  font-size:1rem !important;
  color:var(--mainWhite)!important;
  border-radius:0 !important;
  border:0.1rem solid var(--mainWhite)!important;
  border-radius:30rem!important;
  font-weight:bold!important;
}

.btn-black:hover{
  background:var(--mainBlue)!important;
  color:var(--mainWhite)!important;
}

.cart-icon{
  cursor:pointer;
  font-size:1.2rem;
  color:var(--mainYellow);
}

.bag{
  font-size:2rem;
}

.length{
  background:var(--mainDark);
  color:var(--mainWhite);
  border-radius:10rem;
  padding:4px 8px;
  font-size:10px;
  position:absolute;
  font-weight:bold;
}

.footer{
  background:var(--mainBlue);
  color:var(--mainWhite);
}

.my-cart{
  padding-top:50px!important;
}